.grid {
  height: 60vh;
  width: 60vh;
  margin: 0 auto;

  display: inline-grid;
  grid-gap: 0px;
}

.filled {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cell {
  border: 1px solid cornflowerblue;
  padding: 1px;
}

.constraints-v {
  margin: 0 auto;
  text-align: center;

  display: grid;
  width: 60vh;
  font-size: 1.5em;
}

.constraints-h {
  text-align: right;
  vertical-align: top;
  width: calc(50vw - 30vh);
  height: 60vh;

  display: inline-grid;
  grid-auto-flow: row;
}

.constraints-h-cell {
  margin: auto 0;
}

.constraints-h-number {
  margin-left: 3px;
  font-size: 1.5em;
}
