.puzzle-table {
  table-layout: fixed;
  border-collapse: collapse;
  display: inline;
}

table.puzzle-table > tbody > tr > td {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: bolder;
}

.filled {
  background-color: black;
  width: 100%;
  height: 100%;
}

.unfilled {
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
}

.cell {
  border: .5px solid grey;
  height: 100%;
  width: 100%;
}

.constraint-cell {
  align-items: center;
  background-color: #ddd;
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
  border: .5px solid grey;
}

.constraint-cell-empty {
  background-color: #bbb;
  border: .5px solid grey;
}

.constraint-cell-focused {
  border: 2px solid white;
}

.constraint {
  width: 100%;
  cursor: pointer;
  filter: invert(100%);
}

:root {
  --drag-cell-border: 3px solid red;
  --guideline-cell-border: 2px solid grey;
}

.puzzle-cell-boundary-left {
  border-left: var(--guideline-cell-border);
}

.puzzle-cell-boundary-right {
  border-right: var(--guideline-cell-border);
}

.puzzle-cell-boundary-top {
  border-top: var(--guideline-cell-border);
}

.puzzle-cell-boundary-bottom {
  border-bottom: var(--guideline-cell-border);
}

.cell-drag-top-left {
  border-top: var(--drag-cell-border);
  border-left: var(--drag-cell-border);
}

.cell-drag-bottom-left {
  border-left: var(--drag-cell-border);
  border-bottom: var(--drag-cell-border);
}

.cell-drag-top-right {
  border-top: var(--drag-cell-border);
  border-right: var(--drag-cell-border);
}

.cell-drag-bottom-right {
  border-right: var(--drag-cell-border);
  border-bottom: var(--drag-cell-border);
}

.cell-drag-bottom {
  border-bottom: var(--drag-cell-border);
}

.cell-drag-top {
  border-top: var(--drag-cell-border);
}

.cell-drag-left {
  border-left: var(--drag-cell-border);
}

.cell-drag-right {
  border-right: var(--drag-cell-border);
}
